body{
    border:1px solid; 
    /* width:500px; */
    background-color: rgba(12, 10, 10, 0.445);
    margin:250px;
    color:rgb(208, 47, 7);
    /* padding:10px 20px 30px; */
    /* border-radius:10px; */
    text-align: center;
}
h1{
    text-align: center;
}
label{
    font-size: 30px;
}
input{
    border: 1px solid;
    padding:10px 20px;
    margin:10px
}
#but{
    /* color:aqua;
    background-color: black;
    border:1px solid;  */
    text-align: center;
    margin-top: 20px;
    
}
button{
    font-size: 20px;
}