div {
    /* border:1px solid; */
    text-align: center;
    margin: 350px 200px;
    font-size: 100px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
div h1{
    text-align: center;
    font-size: 50px;
    /* border: 2px solid; */
    background: #22C1C3;
    /* css gradient background */
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}